<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8"utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>玩客狗</title>
<link href="static/css/app.2b1339aa8b4bf34ca660f39fbcc8078b.css" rel="stylesheet">


</head>
<body>
<div id="app">
	<!---->
	<div data-v-7ba0b930="" class="page" img-set="/static/favicon.png">
		<div data-v-7ba0b930="" class="head">
			<h1 data-v-7ba0b930="">帮助</h1>
		</div>
		<div data-v-7ba0b930="" class="panel">
			<ul data-v-7ba0b930="" class="list">
				<li data-v-7ba0b930="">
				<h2 data-v-7ba0b930="">联系我们</h2>
				<p data-v-7ba0b930="">
					官方邮箱：562045631@qq.com<br>
					首次绑定时候，系统会让您对指定账户转入指定的玩客币数量，比如0.2243，不要转错！！
				</p>
				</li>
				<li data-v-7ba0b930="">
				<h2 data-v-7ba0b930="">交易注意</h2>
				<p data-v-7ba0b930="">
					请务必按照系统提示要求使用绑定钱包打款指定金额到指定钱包，一切看错、手滑都不是撕毁交易的理由。
				</p>
				</li>
				<li data-v-7ba0b930="">
				<h2 data-v-7ba0b930="">关于账户提现</h2>
				<p data-v-7ba0b930="">
					每天提现一次，提现后一般需要等待1个工作日左右即可到账，请按需充值，不接受任何加急服务。
				</p>
				</li>
				<li data-v-7ba0b930="">
				<h2 data-v-7ba0b930="">喂养</h2>
				<p data-v-7ba0b930="">
有了狗狗之后，大家可以用余额喂养它，每只狗每天最多只能喂养5个币
喂养之后会增加体重，并且有几率会出暴击，就是成倍增长体重或者属性，当然，有时也会只有一半，喂食的计算公式是：
hash值尾数为6时体重双倍暴击，0、4、7不加体重其余数字增加单倍体重，增加体重=成长属性值*当次投食量				</p>
				</li>
				<li data-v-7ba0b930="">
                    <h2 data-v-7ba0b930="">掘金</h2>
				<p data-v-7ba0b930="">
狗狗吃饱之后，就会帮你赚钱了，狗狗的掘金取决于狗狗的代数，体重，掘金值，计算公式是：
小狗掘金分数=体重*掘金属性值*当日有效投食金额/代衰减系数

小狗每日掘金收益=（平台分配总池/平台小狗总掘金分数）*拥有小狗的掘金分数

若小狗当日投食金额为0则无法参与每日掘金收益分成				</p>
				</li>
				<li data-v-7ba0b930="">

				<h2 data-v-7ba0b930="">购买</h2>
				<p data-v-7ba0b930="">
					通过系统中的广场-集市即可购买其他玩家出售的狗狗，每一只狗狗根据外观、属性、代数的不同会有不同的价格，通过余额转账，等待系统确认后这只狗狗就属于你啦！
				</p>
				</li>
				<li data-v-7ba0b930="">


				<h2 data-v-7ba0b930="">繁殖</h2>
				<p data-v-7ba0b930="">
					每只狗狗根据生育属性及代数等天赋点的不同都有自己的生育冷却时间，每次的生育冷却时间都不一样，当冷却倒数为0（准备就绪）的时候即表示小狗可以进行下一代的繁衍了。 你可以在广场-鹊桥中选择适合自己的小狗狗进行搭配繁育，这是需要花费玩客币的，但是你可以获得一只新的小狗狗，点击立即生育，过程与集市交易类似，通过余额转账，当转账完成后，系统确认打款成功即可触发生育动作，你将得到一只新的小狗狗。
                    狗狗的属性值是系统随机生成的，计算方式是：生育的小狗初始属性值由hash值最后三位数决定，这三个数字分别作为成长、生育、掘金属性值的十分位，个位数统一设为1。
				</p>
				</li>
				<li data-v-7ba0b930="">
				<h2 data-v-7ba0b930="">繁殖规则</h2>
				<p data-v-7ba0b930="">
					0+0=1，0+1=2，1+1=2 以此类推
谁付钱狗狗算谁的
				</p>
				</li>
				<li data-v-7ba0b930="">
				<h2 data-v-7ba0b930="">禁止使用任何外挂</h2>
				<p data-v-7ba0b930="">
					请动手来玩，用按键精灵这些会被xxoo的。
				</p>
				</li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>