<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<meta charset=utf-8"utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>玩客狗</title>
<link href="{% static 'css/app.2b1339aa8b4bf34ca660f39fbcc8078b.css' %}"  rel="stylesheet">
<!--<style type="text/css">-->

<!--</style>-->


</head>
<body>
<div id="app">
	<!---->
	<div data-v-187e6971="" class="page" >
		<!--<div data-v-5a6e21d0="" class="page" img-set="/static/favicon.png" style="background: #000D16 url(static/image/bg2.jpg) no-repeat;">-->

		<div data-v-187e6971="" class="section-1">
			<div data-v-638324c2="" data-v-187e6971="" class="header">
				<div data-v-638324c2="" class="logo">

				</div>
				<div data-v-638324c2="" class="links">
					<a data-v-638324c2="" href="{% url 'login' %}" class="">登录</a><a data-v-638324c2="" href="{% url 'market' %}" class="">市场</a><a data-v-638324c2="" href="{% url 'help' %}" class="">帮助</a>
				</div>
			</div>
			<h1 data-v-187e6971="" style="text-align:center;">加入<br data-v-187e6971="">
			玩客狗</h1>
			<h2 data-v-187e6971="">基于迅雷玩客云区块链技术的养成互动项目</h2>
			<p data-v-187e6971="">
				以太猫初代已价值N币？<br data-v-187e6971="">
				不用羡慕别人，加入玩客狗，<获取独一无二的精元></获取独一无二的精元>。
			</p>
		</div>
		<div data-v-187e6971="" class="section-2">
			<div data-v-187e6971="" class="heading">
				<h1 data-v-187e6971="">什么是玩客狗？</h1>
			</div>
			<p data-v-187e6971="">
				 玩客狗是一个基于迅雷玩客币钱包的在线收集养成类游戏，每一只玩客狗都是根据特定的算法自动生成，多达15^16次方随机组合方案，让每一只猴子都是独一无二的，公正透明的养成系统，让你的小猴产生无限可能。
			</p>

  <video id="my-video" class="video-js" controls preload="auto" width="100%" height="300"
  poster="{% static 'image/monkeys.png' %}" data-setup="{}">
    <source src="#" type='video/mp4'>
  </video>

		</div>
		<div data-v-187e6971="" class="section-3">
			<div data-v-187e6971="" class="heading">
				<h1 data-v-187e6971="">玩客狗等着你</h1>
			</div>
			<p data-v-187e6971="">
				玩客狗项目绝对公正透明，所有算法都单独设计并全部公示，开发团队除了保留0号狗以外不参与任何游戏内容，拒绝暗箱操作。首日更有全服抽奖红利发放，来就有收益，推荐朋友更可以获得抽奖机会，快来参加，让你的狗狗为你掘金吧。
			</p>
		</div>
		<div data-v-187e6971="" class="section-4">
			<h1 data-v-187e6971="">说得再多不如动手试试</h1>
			<button data-v-187e6971="" class="weui-btn begin weui-btn_default" onclick="location.href='{% url 'ready' %}';">< 开始吧</button>
		</div>
		<div data-v-7f88b8f7="" data-v-187e6971="" class="foot">
			<div data-v-7f88b8f7="" class="links">
				版权所有 玩客狗
			</div>
		</div>
	</div>
</div>
<div class="vux-confirm">
	<div class="vux-x-dialog">
		<div class="weui-mask" style="display: none;">
		</div>
		<div class="weui-dialog" style="display: none;">
			<!---->
			<div class="weui-dialog__bd">
				<div>
				</div>
			</div>
			<div class="weui-dialog__ft">
				<a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default">取消</a><a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
			</div>
		</div>
	</div>
</div>
<div class="weui-loading_toast vux-loading" style="display: none;">
	<div class="weui-mask_transparent">
	</div>
	<div class="weui-toast">
		<i class="weui-loading weui-icon_toast"></i>
		<p class="weui-toast__content">
			加载中
		</p>
	</div>
</div>
<div class="vux-toast">
	<div class="weui-mask_transparent" style="display: none;">
	</div>
	<div class="weui-toast weui-toast_success" style="width: 7.6em; display: none;">
		<i class="weui-icon-success-no-circle weui-icon_toast"></i>
		<p class="weui-toast__content">
		</p>
	</div>
</div>
<div class="vux-alert">
	<div class="vux-x-dialog">
		<div class="weui-mask" style="display: none;">
		</div>
		<div class="weui-dialog" style="display: none;">
			<div class="weui-dialog__hd">
				<strong class="weui-dialog__title"></strong>
			</div>
			<div class="weui-dialog__bd">
				<div>
				</div>
			</div>
			<div class="weui-dialog__ft">
				<a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
			</div>
		</div>
	</div>
</div>
</body>1
</html>