<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<meta charset=utf-8"utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>青蛙dog</title>
<link href="{% static 'css/app.2b1339aa8b4bf34ca660f39fbcc8078b.css' %}" rel="stylesheet">

</head>
<body>
<div id="app">
	<!---->
	<div data-v-176b3c21="" class="page" style="background: #000D16 url({% static "image/bg2.jpg" %}) no-repeat;">
		<div data-v-176b3c21="" class="content">
			<div data-v-638324c2="" data-v-176b3c21="" class="header">
				<div data-v-638324c2="" class="logo">
				</div>
				<div data-v-638324c2="" class="links">
                    <a data-v-638324c2="" href="{% url 'login' %}"  class="">登录</a><a data-v-638324c2="" href="{% url 'market' %}"  class="">市场</a><a data-v-638324c2="" href="{% url 'help' %}"  class="">帮助</a>



				</div>
			</div>
			<div data-v-176b3c21="" class="top">
				<h1 data-v-176b3c21="">开始玩吧</h1>
				<h2 data-v-176b3c21="">那么，如何得到你的第一只狗狗呢？有两个方法，<br>1 认购0代狗，0代狗就是创世狗，最高等级，至高无上的。<br>2 抽奖  官方会不定期开抽奖活动，通过抽奖可以得到1-10代的狗狗</h2>
				<button data-v-176b3c21="" class="weui-btn begin weui-btn_default" onclick="location.href='{% url 'login' %}';">准备好了</button>
			</div>
			<div data-v-176b3c21="" class="qa">
				<h2 data-v-176b3c21="" class="title">快速开始</h2>
				<div data-v-176b3c21="" class="item">
					<h3 data-v-176b3c21="">1.获取钱包/玩客币</h3>
					<p data-v-176b3c21="">
						首先你需要一个迅雷玩客云的钱包，钱包可以从 <a data-v-176b3c21="" href="javascript:if(confirm('http://red.xunlei.com/index.php?r=site/coin '))window.location='http://red.xunlei.com/index.php?r=site/coin'" tppabs="http://red.xunlei.com/index.php?r=site/coin">这里下载</a> ，手机版本的请从对应的应用商城下载即可，因为实名制的限制，你需要对账户进行 <a data-v-176b3c21="" href="javascript:if(confirm('http://wanke.xunlei.com/forum.php?mod=viewthread&tid=1200&extra=page%3D1  '))window.location='http://wanke.xunlei.com/forum.php?mod=viewthread&tid=1200&extra=page%3D1'">实名认证</a>。然后你就可以选择<a data-v-176b3c21="" href="javascript:if(confirm('http://zqb.red.xunlei.com/html/book.html  '))window.location='http://zqb.red.xunlei.com/html/book.html'" >购买玩客云</a>进行挖矿或者从朋友获取一些玩客币。
					</p>
				</div>
				<div data-v-176b3c21="" class="item">
					<h3 data-v-176b3c21="">2.注册与绑定钱包</h3>
					<p data-v-176b3c21="">
						使用手机号注册青蛙dog账号，并使用自己的钱包地址进行认证绑定，之后所有的操作请通过绑定的钱包地址进行。
					</p>
				</div>
				<div data-v-176b3c21="" class="item">
					<h3 data-v-176b3c21="">3.下次在哪能找到我的小狗</h3>
					<p data-v-176b3c21="">
						青蛙dog是由HTML5技术完成，理论上你能在任何浏览器中打开，不过为了更好的体验，建议你在手机上操作，加入官方交流群：8141423，下次就能快速在群中进入，和更多玩家一起交流，PC可以通过访问http://www.wandog.cn进行访问。
					</p>
				</div>
				<div data-v-176b3c21="" class="more">
					<a data-v-176b3c21="" href="/help"  class="">还有问题，查阅全部帮助</a>
				</div>
			</div>
		</div>
		<div data-v-7f88b8f7="" data-v-176b3c21="" class="foot">
			<div data-v-7f88b8f7="" class="links">
				版权所有 青蛙dog
			</div>
		</div>
	</div>
</div>
</body>
</html>